.formContainer {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 2.2rem;
}

.title {
  margin: 3rem 0;
}

.label {
  display: block;
  width: 14rem;
  margin-right: 1rem;
  margin-bottom: 2rem
}

.buttonSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  transition: all 0.2s linear;
}

.button:hover {
  color: white;
  background: var(--linear-gradient-low-transparency);
}