.item {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto 0.8rem;
  background-color: #262626;
  border-radius: 0.4rem;
}

.itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bondId {
  margin-right: 2rem;
}

.bondManager,
.bondStartDate,
.bondMaturityDate {
  margin-right: 2rem;
}

.bondManager,
.bondStartDate {
  padding-right: 2rem;
  border-right: 1px solid grey;
}

.bondId {
  font-weight: bold;
  font-size: 1.1rem;
}

.managerLabel,
.startDateLabel,
.matureDateLabel {
  font-size: 0.9rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
  margin-right: 0.6rem;
}

.managerLabel {
  background-color: #1976d2;
}

.startDateLabel {
  background-color: #388e3c;
}

.matureDateLabel {
  background-color: #c2185b;
}

.infoTxt {
  padding: 0.22rem 0;
}

.buyButton {
  transition: all 0.2s linear;
}

.buyButton:hover {
  color: white;
  background: var(--linear-gradient-low-transparency);
}
